* {
  padding: 0;
  margin: 0;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cal-container {
  height: 380px;
  width: 380px;
  border: 1px solid black;
}
.result-container {
  height: 50px;
  width: 377px;
  background-color: rgb(18, 218, 208);
  padding: 0px;
  text-align: right;
  color: #ffffff;
  font-size: 40px;
  padding-right: 10px;
}
.btn {
  height: 50px;
  width: 50px;
  border: 1px solid #e9d9d9;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 30px;
  background-color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}
.button-container {
  margin-top: 10px;
  display: flex;
}

.isEqualBtn {
  height: 230px;
  margin-left: 0;
  background-color: rgb(18, 218, 208);
}
.digit-container {
  height: 300px;
  width: 290px;
}
.digits-container {
  display: flex;
}
.divide {
  margin-left: 20px;
}
.clear {
  font-size: 15px;
  background-color: chocolate;
  color: #ffffff;
}
